main {
    width: fit-content;
    margin: auto;

    h1 {
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    
        .form-section {
            display: flex;
            flex-direction: column;
            max-width: 33%;
            min-width: 500px;
        }
    }

    .control-buttons {
        > button {
            display: block;
            margin-left: auto;
        }
    }
}

.login-container {
    margin-top: 2rem;

    h3 {
        text-align: center;
    }

    .login-section {
        display: flex;
        flex-direction: row;
        max-width: 33%;
        min-width: 500px;
        gap: 1rem;
        margin: auto;
    }
}