<app-loader></app-loader>
<main>
  <h1>{{'PAGES.CLIENT_REGISTRATION.LABEL' | translate}}</h1>
  @if (!_isLoading) {
    <form [formGroup]="_form">
      <div class="form-section">
        <mat-divider></mat-divider>
        <h3>{{'PAGES.CLIENT_REGISTRATION.USER_SECTION_LABEL' | translate}}</h3>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{'PAGES.CLIENT_REGISTRATION.FIRST_NAME' | translate}}</mat-label>
          <input matInput formControlName="firstName" name="firstName" type="text" matInput mask="S*">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{'PAGES.CLIENT_REGISTRATION.LAST_NAME' | translate}}</mat-label>
          <input matInput formControlName="lastName" name="lastName" type="text" matInput mask="S*">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{'PAGES.CLIENT_REGISTRATION.EMAIL' | translate}}</mat-label>
          <input matInput formControlName="email" name="email" type="email" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{'PAGES.CLIENT_REGISTRATION.PASSWORD' | translate}}</mat-label>
          <input matInput formControlName="password" name="password" type="password" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{'PAGES.CLIENT_REGISTRATION.CONFIRM_PASSWORD' | translate}}</mat-label>
          <input matInput formControlName="confirmPassword" name="confirmPassword" type="password" matInput>
        </mat-form-field>
      </div>
      <div class="form-section">
        <mat-divider></mat-divider>
        <h3><mat-label>{{'PAGES.CLIENT_REGISTRATION.ADDRESS_SECTION_LABEL' | translate}}</mat-label></h3>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label><mat-label>{{'PAGES.CLIENT_REGISTRATION.COUNTRY' | translate}}</mat-label></mat-label>
          <mat-select formControlName="country" name="country" readonly>
            @for (country of _countries; track country.id) {
              <mat-option [value]="country.id">{{country.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label><mat-label>{{'PAGES.CLIENT_REGISTRATION.POSTAL_CODE' | translate}}</mat-label>{{_postalCodeName != null? (" ("+_postalCodeName+")") : ""}}</mat-label>
          <input matInput formControlName="postalCode" name="postalCode" type="text" matInput (blur)="validatePostalCode()" mask="00000-000">
          @if (_form.get('postalCode')?.invalid) {
            <mat-error>Formato inválido</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label><mat-label>{{'PAGES.CLIENT_REGISTRATION.STATE' | translate}}</mat-label></mat-label>
          <input matInput formControlName="state" name="state" type="text" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label><mat-label>{{'PAGES.CLIENT_REGISTRATION.CITY' | translate}}</mat-label></mat-label>
          <input matInput formControlName="city" name="city" type="text" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label><mat-label>{{'PAGES.CLIENT_REGISTRATION.NEIGHBORHOOD' | translate}}</mat-label></mat-label>
          <input matInput formControlName="neighborhood" name="neighborhood" type="text" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label><mat-label>{{'PAGES.CLIENT_REGISTRATION.STREET' | translate}}</mat-label></mat-label>
          <input matInput formControlName="street" name="street" type="text" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label><mat-label>{{'PAGES.CLIENT_REGISTRATION.NUMBER' | translate}}</mat-label></mat-label>
          <input matInput formControlName="number" name="number" type="text" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label><mat-label>{{'PAGES.CLIENT_REGISTRATION.COMPLEMENT' | translate}}</mat-label></mat-label>
          <input matInput formControlName="complement" name="complement" type="text" matInput>
        </mat-form-field>
        <div class="control-buttons">
          <button [disabled]="_form.invalid" mat-flat-button (click)="onConfirmClicked()"><mat-label>{{'PAGES.CLIENT_REGISTRATION.REGISTER' | translate}}</mat-label></button>
        </div>
      </div>
    </form>
  }
</main>